<section class="bg-section" id="Career">
    <div class="container-fluid">
        <div class="container">
            <div class="row">
                <div class="col-lg-12 text-left">
                    <i class="fa fa-3x fa-briefcase"></i>
                    <h2 class="section-heading">Career</h2>
                </div>
            </div>
            <div class="row">
                <div class="col-lg-3 col-md-3 career-image">
                    <span class="lineblock-date">2020.01 ~ </span>
                    <div>(주)에스이에스케이</div>
                    <div>웹 개발자</div>
                </div>
                <div class="col-lg-9 col-md-9 career-box">
                    <div class="career-info">
                        <h4>현대모비스 HAIMS 운영 및 유지보수</h4><!--Hyundai-mobis Agent Inventory Management System-->
                        <span class="lineblock-skill">Websquare</span>
                        <span class="lineblock-skill">Javascript</span>
                        <span class="lineblock-skill">XML</span>
                        <span class="lineblock-skill">DB2</span>
                        <span class="lineblock-skill">COBOL</span><br>
                        <div>Websquare(2.0) 기반의 현대/기아 대리점 부품관리용 사이트입니다.</div>
                        <br>
                        전반적인 HAIMS 운영 및 추가 개발<br>
                        <ul>
                            <li>
                                AIX → Linux 서버 변경 작업 참여
                            </li>
                            <li>
                                현대모비스 부품몰앱 알림 수신 기능 추가
                            </li>
                            <li>
                                통합부품관리시스템 MAPS 이관 및 원복 작업 참여 <!--Most Advanced Parts System-->
                            </li>
                            <li>
                                담당 화면 점검 및 유지보수
                            </li>
                        </ul>
                        그 외 업무<br>
                        <ul>
                            <li>
                                사내용 출퇴근 및 근태 화면 설계 및 개발
                            </li>
                            <li>
                                별도로 사용하는 부가서비스(FAX, SMS, GPS) 요금 및 CMS 관리
                            </li>
                            <li>
                                운영 인원 환경설정, 담당 업무 인수인계 문서 작성
                            </li>
                        </ul>
                        <hr>
                        <h4>위니아 PPS</h4><!--Partner Portal System-->
                            <span class="lineblock-skill">Spring</span>
                            <span class="lineblock-skill">Java</span>
                            <span class="lineblock-skill">ABAP</span>
                            <span class="lineblock-skill">JEUS(WAS)</span>
                            <span class="lineblock-skill">SAP</span><br>
                            재개발 프로젝트 참여
                            <ul>
                                <li>
                                    일부 물류 및 입출고 화면 담당으로 ABAP → Spring 재개발 프로젝트 참여
                                </li>
                            </ul>
                            재개발 이후 유지보수
                            <ul>
                                <li>
                                    재개발 이후 오류 및 수정사항 유지보수 진행 중
                                </li>
                            </ul>
                    </div>
                </div>
            </div>
        </div>
    </div>
</section>
