<section class="bg-career" id="Career">
    <div class="container-fluid">
        <div class="container">
            <div class="row">
                <div class="col-lg-12 text-center">
                    <h2 class="section-heading text-left">Career</h2>
                </div>
            </div>
            <div class="content-box">
                2020.01 ~ (재직중)<br>
                <!--Hyundai-mobis Agent Inventory Management System-->
                현대모비스 HAIMS 유지보수<br>
                현대모비스 대리점들이 부품관리를 위해 사용하는 사이트 유지보수<br>
                일부 추가 화면 개발<br>
                Javascript, Websquare, X-Framework, DB2, COBOL<br>
                <br>
                2021.04 ~ 2021.07<br>
                근태관리 화면 개발<br>
                사내용 출퇴근 및 근태관리 화면 개발<br>
                Javascript, Websquare, X-Framework, DB2<br>
                <br>
                2022.12 ~ 2023.01<br>
                부품몰앱 구매요청 알림 기능 추가<br>
                타사이트인 부품몰앱에서 부품 구매요청 시 HAIMS 알림 기능 추가<br>
                Java<br>
                <!--Partner Portal System-->
                2022.03 ~ 2022.06<br>
                위니아 PPS 플랫폼 변경 개발 참여<br>
                ABAP/SAP 기반에서 Spring Framework/Java 기반으로 플랫폼 변경<br>
                일부 재고 및 출고 화면 포팅 작업 진행<br>
                ABAP, SAP, Spring, Java<br>
                <br>
                2022.10 ~ (진행중)<br>
                위니아 PPS 유지보수<br>
                플랫폼 변경 이후 다른 오류사항 수정 및 점검<br>
                <br>
                Spring, SAP, Java, JEUS(WAS)<br>
            </div>
        </div>
    </div>
</section>
