<section class="bg-career" id="Career">
    <div class="container-fluid">
        <div class="container">
            <div class="row">
                <div class="col-lg-12 text-left">
                    <i class="fa fa-3x fa-briefcase"></i>
                    <h2 class="section-heading">Career</h2>
                </div>
            </div>
            <div class="row">
                <div class="col-lg-12 col-md-12 career-box">
                    <span class="lineblock-date">2020.01 ~ </span>
                    현대모비스 HAIMS 유지보수<br><!--Hyundai-mobis Agent Inventory Management System-->
                    현대모비스 대리점들이 부품관리를 위해 사용하는 사이트 유지보수<br>
                    일부 추가 화면 개발<br>
                    <div class="career-inbox">
                        <span class="lineblock-skill">Javascript</span>
                        <span class="lineblock-skill">XML</span>
                        <span class="lineblock-skill">Websquare</span>
                        <span class="lineblock-skill">X-Framework</span>
                        <span class="lineblock-skill">DB2</span>
                        <span class="lineblock-skill">COBOL</span>
                    </div>
                    <div class="career-button">
                        <span class="career-button-icon">
                            <i class="fa fa-3x fa-angle-double-right"></i>
                        </span>
                    </div>
                </div>
                <div class="col-lg-12 col-md-12 career-box">
                    <span class="lineblock-date">2022.10 ~ </span>
                    위니아 PPS 유지보수<br>
                    플랫폼 변경 이후 다른 오류사항 수정 및 점검<br>
                    <div class="career-inbox">
                        <span class="lineblock-skill">Spring</span>
                        <span class="lineblock-skill">Java</span>
                        <span class="lineblock-skill">ABAP</span>
                        <span class="lineblock-skill">JEUS(WAS)</span>
                        <span class="lineblock-skill">SAP</span>
                    </div>
                    <div class="career-button">
                        <span class="career-button-icon">
                            <i class="fa fa-3x fa-angle-double-right"></i>
                        </span>
                    </div>
                </div>
            </div>
            <div class="row">
                <div class="col-lg-12 col-md-12 career-box">
                    <span class="lineblock-date">2022.03 ~ 2022.06</span>
                    위니아 PPS 플랫폼 변경 개발 참여<br> <!--Partner Portal System-->
                    ABAP/SAP 기반에서 Spring Framework/Java 기반으로 플랫폼 변경<br>
                    일부 재고 및 출고 화면 포팅 작업 진행<br>
                    <div class="career-inbox">
                        <span class="lineblock-skill">Spring</span>
                        <span class="lineblock-skill">Java</span>
                        <span class="lineblock-skill">ABAP</span>
                        <span class="lineblock-skill">SAP</span>
                    </div>
                    <div class="career-button">
                        <span class="career-button-icon">
                            <i class="fa fa-3x fa-angle-double-right"></i>
                        </span>
                    </div>
                </div>
                <div class="col-lg-12 col-md-12 career-box">
                    <span class="lineblock-date">2021.04 ~ 2021.07</span>
                    근태관리 화면 개발<br>
                    사내용 출퇴근 및 근태관리 화면 개발<br>
                    <div class="career-inbox">
                        <span class="lineblock-skill">Javascript</span>
                        <span class="lineblock-skill">XML</span>
                        <span class="lineblock-skill">Websquare</span>
                        <span class="lineblock-skill">X-Framework</span>
                        <span class="lineblock-skill">DB2</span>
                    </div>
                    <div class="career-button">
                        <span class="career-button-icon">
                            <i class="fa fa-3x fa-angle-double-right"></i>
                        </span>
                    </div>
                </div>
            </div>
        </div>
    </div>
</section>
