<section class="bg-info" id="Info">
    <div class="container">
        <div class="row">
            <div class="col-lg-12 col-md-12">
                <!-- <hr class="light"> -->
                <div class="col-lg-3 col-md-12">
                    <div class="content-box">
                        <i class="fa fa-3x fa-info-circle"></i>
                        <h2 class="section-heading text-left">Info</h2>
                    </div>
                </div>
                <div class="col-lg-9 col-md-6">
                    <div class="content-box">
                        <p>
                            SI/SM 업체에서 3년 간 재직중인 웹 개발자입니다.<br>
                            현재 현대모비스 HAIMS 유지보수 및 위니아 PPS 유지보수를 담당하고 있습니다.<br>
                            <br>
                            <br>
                            {{ "img/favicon.ico" | relative_url }}<br>
                            기<br>
                            소<br>
                            개<br>
                            <br>
                            3년동안 SI/SM 업무를 하며 원활한 커뮤니케이션과 활발한 피드백이 중요하다고 생각합니다.<br>
                            최근에 하고 싶은 것들과 새로운 것들을 계속 배우고 있는 중입니다.<br>
                        </p>
                    </div>
                </div>
            </div>
        </div>
    </div>
</section>
