<section class="bg-section" id="Info">
    <div class="container">
        <div class="row">
            <div class="col-lg-12 col-md-12">
                <div class="col-lg-3 col-md-12">
                    <div class="content-box">
                        <i class="fa fa-3x fa-info-circle"></i>
                        <h2 class="section-heading text-left">Info</h2>
                    </div>
                </div>
                <div class="col-lg-9 col-md-6">
                    <div class="content-box">
                        <p>
                            3년차 웹 개발자이며, SI/SM 업체에서 사이트 개발/운영 및 유지보수를 담당했습니다.
                        </p>
                        <p>
                            주로 현대모비스 부품 관련 부서와 협업하여 업무 프로세스 및 기타 토의 내용을 바탕으로 기능 개발 및 유지보수를 진행했습니다.
                        </p>
                        <br>
                        <p>
                            번거로운 작업을 효율적으로 처리하는 것과 피드백을 주고 받는 것을 좋아합니다.
                        </p>
                        <br>
                        <p>
                            효율적인 업무 처리를 위해 꾸준한 개발 스킬 향상과 필요 시 서칭 및 개인 공부로 
                            추가 개발 역량을 증진시키고 있으며 업무 프로세스를 숙지하려 노력하고 있습니다.
                        </p>
                        <br>
                        <p>
                            또한 유지보수 업무 중에 사용자의 요청이나 개발자, 관련 부서와 협업으로
                            적극적인 커뮤니케이션을 하면서 문제 해결에서 나아가 발전하기 위해 몸을 아끼지 않고 있습니다.
                        </p>
                        <br>
                        <p>
                            
                        </p>
                    </div>
                </div>
            </div>
        </div>
    </div>
</section>
