<section class="bg-primary" id="Info">
    <div class="container">
        <div class="row">
            <div class="col-lg-12 col-md-12">
                <i class="fa fa-3x fa-diamond text-white"></i>
                <h2 class="section-heading text-left">Info</h2>
                <!-- <hr class="light"> -->
                <div class="col-lg-3 col-md-12">
                    <div class="service-box">
                        
                    </div>
                </div>
                <div class="col-lg-9 col-md-6">
                    <div class="service-box">
                        <p class="text-faded">2222</p>
                        <p>
                            입<br>
                            력<br>
                            할<br>
                            <br>
                            자<br>
                            기<br>
                            소<br>
                            개<br>
                            <br>
                            내<br>
                            용<br>
                        </p>
                    </div>
                </div>
                <!--<a href="{{ v_lnk }}/posts" class="btn btn-default btn-xl">이동?</a> -->
            </div>
        </div>
    </div>
</section>
