<section class="bg-section" id="Stack">
    <div class="container-fluid">
        <div class="container">
            <div class="row">
                <div class="col-lg-12 text-left">
                    <i class="fa fa-3x fa-code"></i>
                    <h2 class="section-heading">Stack</h2>
                </div>
            </div>
            <div class="content-box">
                <div class="row">
                    <div class="col-lg-3 col-md-3 text-left">
                        <div class="content-box">
                            <h3>Front-end</h3>
                        </div>
                    </div>
                    <div class="col-lg-9 col-md-9 text-left">
                        <div class="lineblock-stack">HTML/CSS</div>
                        <div class="lineblock-stack">Javascript</div>
                        <div class="lineblock-stack">Websquare</div>
                        <div class="lineblock-stack">JQuery</div>
                    </div>
                </div>
                <div class="row">
                    <div class="col-lg-12 col-md-12">
                        <hr class="primary">
                    </div>
                </div>
                <div class="row">
                    <div class="col-lg-3 col-md-3 text-left">
                        <div class="content-box">
                            <h3>Back-end</h3>
                        </div>
                    </div>
                    <div class="col-lg-9 col-md-9 text-left">
                        <div class="lineblock-stack">Java</div>
                        <div class="lineblock-stack">Spring</div>
                    </div>
                </div>
                <div class="row">
                    <div class="col-lg-12 col-md-12">
                        <hr class="primary">
                    </div>
                </div>
                <div class="row">
                    <div class="col-lg-3 col-md-3 text-left">
                        <div class="content-box">
                            <h3>Database</h3>
                        </div>
                    </div>
                    <div class="col-lg-9 col-md-9 text-left">
                        <div class="lineblock-stack">DB2</div>
                        <div class="lineblock-stack">MySql</div>
                        <div class="lineblock-stack">Oracle</div>
                    </div>
                </div>
                <div class="row">
                    <div class="col-lg-12 col-md-12">
                        <hr class="primary">
                    </div>
                </div>
                <div class="row">
                    <div class="col-lg-3 col-md-3 text-left">
                        <div class="content-box">
                            <h3>Etc.</h3>
                        </div>
                    </div>
                    <div class="col-lg-9 col-md-9 text-left">
                        <div class="lineblock-stack">Git/Github</div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</section>
