<section class="bg-stack" id="Stack">
    <div class="container">
        <div class="row">
            <div class="col-lg-3 col-md-3 text-center">
                <h2 class="section-heading col-lg-3 col-md-3 text-left">Stack</h2>
                <div class="tip-stack">
                    <span><i class="fa fa-1x fa-diamond"></i></span>
                    <div class="tip-stack-text">
                        <p>툴팁 테스트?</p>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <div class="container">
        <div class="row">
            <div class="col-lg-3 col-md-3 text-left">
                <div class="content-box">
                    <h3>Front-end</h3>
                </div>
            </div>
            <div class="col-lg-9 col-md-9 text-left">
                <div class="content-box">
                    <p>Javascript</p>
                    <p>Bootstrap</p>
                    <p>웹스퀘어</p>
                    <p>JQuery</p>
                </div>
            </div>
            <div class="col-lg-12 col-md-12">
                <hr class="primary">
            </div>
            <div class="col-lg-3 col-md-3 text-left">
                <div class="content-box">
                    <h3>Back-end</h3>
                </div>
            </div>
            <div class="col-lg-9 col-md-9 text-left">
                <div class="content-box">
                    <p>
                            Java<br>
                            Spring<br>
                            DB2<br>
                            MySql<br>
                            Oracle
                    </p>
                </div>
            </div>
            <div class="col-lg-12 col-md-12">
                <hr class="primary">
            </div>
            <div class="col-lg-3 col-md-3 text-left">
                <div class="content-box">
                    <h3>Etc.</h3>
                </div>
            </div>
            <div class="col-lg-9 col-md-9 text-left">
                <div class="content-box">
                    <p>
                        Git/Github<br>
                    </p>
                </div>
            </div>
        </div>
    </div>
</section>
