<section class="bg-stack" id="Stack">
    <div class="container">
        <div class="row">
            <div class="col-lg-3 col-md-3 text-center">
                <h2 class="section-heading col-lg-3 col-md-3 text-left">Stack</h2>
                <div class="tip-stack">
                    <span><i class="fa fa-1x fa-diamond"></i></span>
                    <div class="tip-stack-text">
                        <p>툴팁 테스트?</p>
                    </div>
                </div>
            </div>
        </div>
        기존에 사용하거나 현재도 사용중인 기술들입니다.
    </div>
    <div class="container">
        <div class="row">
            <div class="col-lg-3 col-md-3 text-left">
                <div class="content-box">
                    <h3>Front-end</h3>
                </div>
            </div>
            <div class="col-lg-9 col-md-9 text-left">
                <ul>
                    <li>HTML/CSS</li>
                    <li>Javascript</li>
                    <li>Bootstrap</li>
                    <li>JQuery</li>
                </ul>
            </div>
            <div class="col-lg-12 col-md-12">
                <hr class="primary">
            </div>
            <div class="col-lg-3 col-md-3 text-left">
                <div class="content-box">
                    <h3>Back-end</h3>
                </div>
            </div>
            <div class="col-lg-9 col-md-9 text-left">
                <ul>
                    <li>Java</li>
                    <li>Spring Framework</li>
                    <li>DB2</li>
                    <li>MySql</li>
                    <li>Oracle</li>
                </ul>
            </div>
            <div class="col-lg-12 col-md-12">
                <hr class="primary">
            </div>
            <div class="col-lg-3 col-md-3 text-left">
                <div class="content-box">
                    <h3>Etc.</h3>
                </div>
            </div>
            <div class="col-lg-9 col-md-9 text-left">
                <ul>
                    <li>Git/Github</li>
                </ul>
            </div>
        </div>
    </div>
</section>
